# WELCOME TO THE WORLD OF PYTHON Mr. "NAVIN SINGH"

FROM 08 JULY TO TILL NOW

DATE = 08 JUNLY 2023

# RegEx-- Regular Expressions

RegEx - Regular expressions, often abbreviated as RegEx or regex, are a powerful tool for pattern matching and text
manipulation. They provide a concise and flexible way to search, extract, and manipulate strings of text based on 
specific patterns.

However, regular expressions can be complex and tricky to work with, especially for complex patterns. It's essential to understand the syntax and behavior of regular expressions before using them. Python's re module provides a set of 
functions and methods to work with regular expressions, such as search() match(), findall(), and sub(), which make it 
easier to leverage their power within your Python code.

Function -Description

* findall - Returns a list containing all matches 
* search - Returns a Match object if there is a match anywhere in the string 
* split - Returns a list where the string has been split at each match
* sub-Replaces one or many matches with a string

In [5]:
# * FINDALL=  
import re     # re =(regular expression)
pattern= 'Data Science'
text='Data Science is a strem and it is a part of AI. you can solve many complec problems using Data Science toll and tech'
matches=re.findall(pattern,text)
print(matches)

['Data Science', 'Data Science']

In [9]:
import re     # re =(regular expression)
pa= 'Data Science'
text='Data Science is a strem and it is a part of AI. you can solve many complec problems using Data Science toll and tech'
mat=re.findall(pa,text)
print(mat)

# this is very casesencative

['Data Science', 'Data Science']

In [10]:
pa= 'Data Science'
text='Data Science is a strem and it is a part of AI. you can solve many complec problems using Data Science toll and tech'
mat=re.findall(pa,text)
print(mat)

['Data Science', 'Data Science']

In [18]:
import re
na='navin'
matter='Navin is a good boy and navin is a smart boy who will be a data scientist, navin is super boy'
search=re.findall(na,matter)
print(search)

['navin', 'navin']

In [23]:
import re
pattern='\d+'
text='there are 123 apples and 456 orange'
matches=re.findall(pattern,text)
print(matches)

['123', '456']

In [43]:
prince=['apple costs rs 50', 'rs 60 for each pineapple', 'rs 150 per watermelon']
for msg in prince:
    matches=re.findall('\d+',msg)
    print(matches,end='')

['50']['60']['150']

In [48]:
prince=['apple costs rs 50']
for msg in prince:
    matches=re.findall('\d+',msg)
    print(matches)

['50']

SEARCH

In [31]:
test='india is our country'
x=re.search('india',test)
print(x)

<re.Match object; span=(0, 5), match='india'>

IF YOU HAVE  LIST MORE THEN ONE THEN YOU HAVE TO USE FOR LOOP. IT'S JARURI

In [61]:
masage=['navin is a boye',
       'mahi is a girl',
       'punam is also a girl',
       'rakhi is good girl',
       'nitish is a smart boy',
       'sulekha bhabhi is a girl']
for m in masage:
    matche=re.search('girl',m)
    print(matche)
    
#its give the index base results

None
<re.Match object; span=(10, 14), match='girl'>
<re.Match object; span=(16, 20), match='girl'>
<re.Match object; span=(14, 18), match='girl'>
None
<re.Match object; span=(20, 24), match='girl'>

In [62]:
test=['india is our country','india is big country','india is super country']
for t in test:
    x=re.search('india',t)
    print(x)

<re.Match object; span=(0, 5), match='india'>
<re.Match object; span=(0, 5), match='india'>
<re.Match object; span=(0, 5), match='india'>

In [64]:
test='india is our country india is a good boy'
x=re.search('india',test)
print(x)

<re.Match object; span=(0, 5), match='india'>

In [66]:
mag='This Product is really Great'
search=re.search('^This.*Great$',mag)
print(search)

<re.Match object; span=(0, 28), match='This Product is really Great'>

In [71]:
ton='navin is a good boy and very smart boy and boy'
se=re.search('^navin .* boy$',ton)
print(se)

<re.Match object; span=(0, 46), match='navin is a good boy and very smart boy and boy'>

SPLIT FUNCTION

This function is used to change the all of sentance into list

In [81]:
text='india is a beautiful country'
x=re.split('\s',text)
print(x)
# it's change acording to space value

['india', 'is', 'a', 'beautiful', 'country']

In [85]:
na='india is a very powerfull country and navin singh will be a great data scientist'
n=re.split('\s',na)
print('list of n = ',n)

list of n =  ['india', 'is', 'a', 'very', 'powerfull', 'country', 'and', 'navin', 'singh', 'will', 'be', 'a', 'great', 'data', 'scientist']

POSITION SPLIT

In [91]:
by='how is this posible'
x=re.split('\s',by,1)   # 1 is for range : only 1 letter will change in list
print(x)

['how', 'is this posible']

In [95]:
text="my name is navin kumar singh and i am a very good boy i love my mother so much"
n=re.split('\s',text,5)   # 5 === list will change 0 to 5 values
print(n)

['my', 'name', 'is', 'navin', 'kumar', 'singh and i am a very good boy i love my mother so much']

SUB FUNCTION

In [98]:
# thsi function replace spaces by assigned charter
na='navin is smart data scientist'
k=re.sub('\s','==',na)      # jha jha spaces hai wha wha == ho jayega 
print(k)

navin==is==smart==data==scientist

In [100]:
maa='my mother is the very lovely'
ma=re.sub('\s',' $$ ',maa)
print(ma)

my $$ mother $$ is $$ the $$ very $$ lovely

In [104]:
# for Saferate value change
text= 'this items cost rs 50000'
x=re.sub('rs',' @ ',text)  # it's change rs to @
print(x)

this items cost  @  50000

# EXCEPTION  (Run Time Error)

in this condition not any syntax error but it's showing runtime error.

EXCEPTION => an excceptionis an event wcich occurs during the excecution of a program that disrupts the normal flow of 
the program's instructions. Ingeneral when a python script encounters a situation that it can't cope with 
it raises an exception. An exception is a python object that represent an error.

There are many types of Runtime Error.

HANDLING OF EXCEPTION: --- =>   if you have sum suspicious code that may raise an exception, you can defend your 
    program by placing the suspicious code in a TRY: block, after the try include an EXCEPT: stantement followed 
            by an book of code which handles the problem as elegantly as posible.

General Syntax:
# Here is simple syntax try except else blocks.

Try:
    you do your operation here;
    .....................................
    except exceptionl:
        if there is exceptionl, then excecute this block
        except exception 2:
            If there is exception if then execute this block
            ....................
            else:
                if there is no exception then execute this block

EXCEPTION :=> An exception can be defined as an unusual condition in a program resulting in the interruption in the flow of the program.

Whenever an exception occurs, the program stops the execution, and thus the further code is not executed. Therefore, an exception is the run-time errors that are unable to handle to Python script. An exception is a Python object that represents an error

Python provides a way to handle the exception so that the code can be executed without any interruption. If we do not handle the exception, the interpreter doesn't execute all the code that exists after the exception. Few errors are as below:

ZeroDivisionError: Occurs when a number is divided by zero. 
NameError: It occurs when a name is not found. It may be local or global. 
IndentationError: If incorrect indentation is given. 
IOError: It occurs when Input Output operationÂ fails.

In [2]:
10/2

5.0

In [15]:
71/0
#in this condition my syntax is correct but resut not showing error it's call "ZeroDevistionError"

ZeroDivisionError: division by zero

In [8]:
try:
    71/0
except ZeroDivisionError as err:
    print('handling runtime error:',err)

handling runtime error: division by zero

In [14]:
try:
    81/0
except ZeroDivisionError as e:       # you have to write ZeroDivisionError same meaning as same format
    print('deviation of: ',e)

deviation of:  division by zero

In [21]:
try:
    l=81/0
except ZeroDivisionError as err:
    print(err)

division by zero

In [24]:
try:
    a=int(input('a ='))
    b=a/0
except ZeroDivisionError as err:
    print('error type = ',err)

a =45
error type =  division by zero

NAME ERROR: if you not difined any string then it's showing Name Type Error;

In [26]:
try:
    8+m*2
except NameError as na:
    print('type of error =  ',na)

type of error =   name 'm' is not defined

EXCEPTION = exception is used for smoothly result only, if you make normal error then result will showing very dificult

In [30]:
#NAME AND ZERO ERROR

try:
    i=int(input('i ='))
    p=50/i
except ZeroDivisionError:
    print('Zero Division Error')
except NameError:
    print('name Error')
else:
    print(p)

i =0
Zero Division Error

In [47]:
try:
    for i in range(3):
        i=int(input('i ='))
        p=50/i
        print(p)
except ZeroDivisionError:
    print('Zero Division Error')
except NameError:
    print('name Error')
else:
    print(p)

i =7
7.142857142857143
i =9
5.555555555555555
i =0
Zero Division Error

In [49]:
a=[10,20,30]
try:
    print(a[0])
    print(a[1])
    print(a[2])
except:
    print('out of program')
else:
    print('hello')
finally:
    print('end of the program')

10
20
30
hello
end of the program

In [50]:
a=[10,20,30]
try:
    print(a[0])
    print(a[1])
    print(a[5])
except:
    print('out of program')
else:
    print('hello')
finally:
    print('end of the program')

10
20
out of program
end of the program

# PYTHON INHERITANCE

Inheritance is an importan aspect of the object-oriented paradingm. Inheritance  provides code reusability to the 
program because we can use an existing class to create a new class insted of creatingit from screatch.

In inheritance, the child class acquires the properaties and can access all the data members and functions defined in the
parent class. A child class can also provide it's specific implementation to the functions of the parent class. In this section
of the tutorial, we wil discuss inheritance in detail.

In python, a derived class can inherit base class by just metioning the base in the bracket after the derived class
name. consider the following syntax to inherit a base class into the derived class.

In [51]:
class bird:
    def speak (self):
        print('bird speaking')

In [56]:
class sparrow(bird):
    def chirp(self):
        print('sparrow chirping')
    

sp=sparrow()
sp.chirp()
sp.speak()

sparrow chirping
bird speaking

In [61]:
class nav:
    def smart(singh):
        print('navin is smart boy')

In [64]:
class kum(nav):
    def male(singh):
        print('navin is male')
ku=kum()
ku.male()
ku.smart()

navin is male
navin is smart boy

# PYTHON MULTI-LEVEL INHERITANCE 
multi-level inheritance is possible in python like other object-oriented languages. multi-level inheritance is 
archived when a derived class inherits another derived class. there is no limit on the number of levels up to which, 
the multi-level inheritance is archived in python.

In [65]:
class grandfather:
    def speak(self):
        print('grand father speaking')

class father(grandfather):
    def sleep(self):
        print('father sleeping')
        
class child(father):
    def eat(self):
        print('eating bread....')
        

        
ch=child()
ch.speak()
ch.sleep()
ch.eat()

grand father speaking
father sleeping
eating bread....

In [66]:
class navin:
    def read(self):
        print('navin is reading')
        
class nitish(navin):
    def love(self):
        print('nitis is a lovely boy')
        
class singh(nitish):
    def cast(self):
        print('singh is a kurmi cast')
        
si=singh()
si.read()
si.love()
si.cast()

navin is reading
nitis is a lovely boy
singh is a kurmi cast

# PYTHON MULTIPLE INHERITANCE
python provides us the flexibility to inherit multiple base classes in ht child class. 

=== ye 2 calculation ko ek saath result dega ===

In [68]:
class calculation1:
    def summation(self,a,b):
        return a+b

class calculation2:
    def multiplication(self,a,b):
        return a*b
        
class derived(calculation1,calculation2):
    def divied(self,a,b):
        return a/b
    
d=derived()
print(d.summation(10,20))
print(d.multiplication(10,20))
print(d.divied(10,20))

30
200
0.5

In [69]:
class calculation1:
    def summation(self,a,b):
        return a+b

class calculation2:
    def multiplication(self,a,b):
        return a*b
        
class derived(calculation1,calculation2):
    def divied(self,a,b):
        return a/b
    
d=derived()
print(d.summation(10,75846))
print(d.multiplication(10,5342))
print(d.divied(10752,20))

75856
53420
537.6

# METHOD OVERRIDING
we can provide some specific implementaition of the parent class method in our child class. when the parent clas 
method is defined in the child class wiht some specific implementation, then the concept is called method overriding. 
we may need to perform method overriding in the secnario where the different definition of a parent class method is 
needed in the child class.

In [70]:
class animal:
    def speak(self):
        print('speaking')
        
class dog(animal):
    def speak(self):
        print('barking')

d=dog()
d.speak()

barking

In [72]:
class bank:
    def getroi(self):
        return 11
class sbi(bank):
    def getroi(self):
        return 7
    
class icici(bank):
    def getroi(self):
        return 8
    
b1=bank()
b2=sbi()
b3=icici()

print('bank rate of intrest:',b1.getroi())
print('sbi rate of intrest :',b2.getroi())
print('icici rate of intrest :',b3.getroi())

bank rate of intrest: 11
sbi rate of intrest : 7
icici rate of intrest : 8

In [77]:
class bank:
    def getroi(self):
        return 11
class sbi(bank):
    def getroi(self):
        return 7
    
class icici(bank):
    def getroi(self):
        return 8
    
b1=bank()
b2=sbi()
b3=icici()

#print('bank rate of intrest:',b1.getroi())
print('sbi rate of intrest :',b2.getroi())
#print('icici rate of intrest :',b3.getroi())
# If you want to call sbi only then you can do this;

sbi rate of intrest : 7

# DATA ABSTRATION
data abstration in python abstrationis an important aspect of object oriented plrogramming. in python. we can also perform 
data hiding by adding the double underscore(__) as a prefix to the attribute which is to be hidden. after this, the attribute 
will not be visible outside of the class through the objecct.

In [82]:
class employee:
    __count=0
    def __init__(self):
        employee.__count=employee.__count+1
    
    def display(self):
        print('the number of employee',employee.__count)
        
emp=employee()

try:
    print(emp.__count)
except(AttributeError):
    print('AttributeError:Employee object has no attribute__count')
    
finally:
    emp.display()

AttributeError:Employee object has no attribute__count
the number of employee 1

In [91]:
class employee:
    __count=0
    def __init__(self):
        employee.__count=employee.__count+1
    
    def display(self):
        print('the number of employee',employee.__count)
        
emp=employee()

try:
    print(emp.__count)
#except(AttributeError):
    #print('AttributeError:Employee object has no attribute__count')
    
finally:
    emp.display()
    
# If you not use Except then the code will not run.

the number of employee 1

AttributeError: 'employee' object has no attribute '__count'