# WELCOME TO THE WORLD OF PYTHON Mr. NAVIN SINGH

# #Enjoying The Basics Python#

The Basics Calculation (+,-,*,/,//,%)

In [23]:
# addition 
2+2

4

In [29]:
# multiplication 
2*4

8

In [30]:
# substration 
4-2

2

DEVISION (quoitent is the answer)

In [12]:
10/5

2.0

In [19]:
50/3

16.666666666666668

if i want to remove the decimal point

FLOOR DIVISION

In [20]:
10//5

2

In [22]:
50//3

16

In [33]:
11/5, 11//5

(2.2, 2)

MOUDULO (Reminder is the answewr)

In [27]:
10%5

0

In [28]:
11%5

1

In [54]:
50%4

2

POWERE

In [35]:
10**2

100

In [36]:
 4**2

16

In [37]:
20**3

8000

In [38]:
15**5

759375

VARIABLE

In [39]:
a=4

In [40]:
a

4

In [41]:
b=10

In [42]:
b

10

In [44]:
c=a+b

In [45]:
c

14

In [46]:
d=a*b

In [47]:
d

40

In [48]:
k=b/a

In [49]:
k

2.5

In [50]:
p=b//a

In [51]:
p

2

In [52]:
x=b%a

In [53]:
x

2

AREA OF RECTENGLE

In [55]:
length= 56
breath= 4
area=length*breath
area

224

In [2]:
#volume of cylinder 
pi=3.14
r=int(input('r = '))
h=int(input('h = '))
volume=pi*r**2*h
volume

r = 45
h = 78

495963.0

In [3]:
#VOLUME OF SPHERE
pi=3.14
r=int(input('r = '))
volume=4/3*pi*r**3
print(volume)

r = 15
14130.0

In [5]:
#VOLUME OF CONE
pi=3.14
r=int(input('r= '))
h=int(input('h= '))
volume=pi*r**2*(h/3)
print(volume)

r= 15
h= 21
4945.5

PRINT COMMAND

In [56]:
a=51

In [57]:
a

51

In [58]:
print(a)

51

In [61]:
# if you write 
print("a")
# then
# and also
print('a')

a
a

In [62]:
a=10
b=15
c=a+b

In [64]:
print(c)

# if you write 
print("c")

25
c

In [65]:
print("c=",c)

c= 25

In [66]:
print("navin=",c)

navin= 25

In [67]:
print("sum=",c)

sum= 25

In [68]:
print("c=",a+b)

c= 25

AREA OF CIRCLE

In [70]:
pi= 3.14
radius= 14
areaofcircle=pi*(radius**2)
print(areaofcircle)

615.44

In [71]:
pi= 3.14
radius= 8
areaofcircle=pi*(radius**2)
print(areaofcircle)

200.96

In [72]:
14**2

196

In [73]:
3.14*14**2

615.44

In [74]:
pi= 3.14
radius= 14
areaofcircle=pi*(radius**2)
print("AREA OF CIRCLE=",areaofcircle)

AREA OF CIRCLE= 615.44

FIND THE DATA TYPE

In [75]:
P=15

In [76]:
P

15

In [77]:
type(p)

int

In [78]:
n=11.5

In [79]:
n

11.5

In [80]:
type(n)

float

In [81]:
country='india'

In [82]:
country

'india'

In [83]:
type(country)

str

In [84]:
country="india"

In [85]:
country

'india'

In [86]:
type(country)

str

In [88]:
type(n)

float

COMPRISION OPERATOR

In [89]:
100==100

True

In [93]:
10 > 5

True

In [94]:
500 > 600

False

In [96]:
400 < 40

False

In [97]:
10 < 40

True

In [98]:
15 != 15

False

In [99]:
50 != 45

True

In [100]:
15>=10

True

In [101]:
15>=16

False

In [102]:
15>=15

True

        ---------ENTER A VALUE---------

In [105]:
country= input("enger any country name")
# then you will get a dilogbox to fill the value of country

enger any country name  INDIA

In [106]:
age= input("enter a number")

enter a number 26

In [1]:
country=input("enter any name")

enter any name  INDIA

In [ ]:
marks= input("name of the subject & marks")

In [ ]:
country=input("enter any country")

In [ ]:
a=5ii

In [ ]:
a

In [ ]:
a

In [ ]:
5+10

In [1]:
x=input("enter a value of x")

x

enter a value of x 80

' 80'

In [4]:
y=input("enter a value of y")

y

enter a value of y30

'30'

In [5]:
x+y

' 8030'

DEFINE THE DATATYPE

In [45]:
x=int(input("enter any number"))

enter any number  80

In [46]:
y= int(input("enter a number"))

enter a number 30

In [47]:
x+y

110

In [48]:
# x+y = 110 , because the datatype of x and y is int, then the result is showing 110.
# if it's a string value then its show '8030'.

STRING CONCATENATION

In [8]:
"hello"+ " world"

'hello world'

In [9]:
"happy"+" Birthday"

'happy Birthday'

In [10]:
"NAVIN" + " KUMAR" + " SINGH"

'NAVIN KUMAR SINGH'

In [12]:
"NAVIN" + " SINGH"

'NAVIN SINGH'

In [13]:
'LOVE' + ' YOU' + ' MAA'

'LOVE YOU MAA'

In [15]:
'HAPPY'  + " JOURNY"

'HAPPY JOURNY'

In [16]:
'800' + ' LOVE'

'800 LOVE'

In [18]:
"VILL-" + " MOHANPUR DOGHRA"

'VILL- MOHANPUR DOGHRA'

In [20]:
'8.25' + ' true' + ' manipur' + " @ gmail.com"

'8.25 true manipur @ gmail.com'

In [21]:
a=10

In [22]:
a

10

In [23]:
type(a)

int

In [24]:
float(a)

10.0

In [25]:
b='navin'

In [26]:
b

'navin'

In [27]:
type(b)

str

In [29]:
float(a)

10.0

In [30]:
a

10

In [31]:
float(a)

10.0

In [32]:
a

10

In [33]:
c=float(a)

In [34]:
c

10.0

In [35]:
a

10

In [36]:
c

10.0

In [37]:
c=11.20

In [38]:
c

11.2

In [39]:
type(c)

float

In [40]:
int(c)

11

In [41]:
b=int(c)

In [42]:
b

11

In [43]:
c

11.2

In [53]:
length=int(input('enter length'))
breath=int(input('enter breath'))

area=length*breath
print("Area= ", area)

enter length15
enter breath50
Area=  750

In [56]:
"NAVIN" + " KUMAR" + " SINGH"

'NAVIN KUMAR SINGH'

In [58]:
a=10
b=15
c=a*b

In [59]:
print(c)

150

In [60]:
a+b

25

In [61]:
a='10'

In [62]:
a

'10'

In [63]:
type(a)

str

In [64]:
b=int(a)

In [65]:
b

10

In [66]:
type(b)

int

In [67]:
c="navin"

In [68]:
type(c)

str

In [69]:
k=int(c)

ValueError: invalid literal for int() with base 10: 'navin'

In [70]:
a

'10'

In [71]:
type(a)

str

In [72]:
m=float(a)

In [73]:
m

10.0

# DATA STRUCTURES

list are index and mutuable

In [74]:
list1=[1,2,3,4,5,6,]

In [84]:
type(list1)

list

In [75]:
list1

[1, 2, 3, 4, 5, 6]

In [76]:
print(list1)

[1, 2, 3, 4, 5, 6]

In [78]:
list2=[5.6,100.25,12.5,45.45,78.87,15.46,78.46]

In [79]:
list2

[5.6, 100.25, 12.5, 45.45, 78.87, 15.46, 78.46]

In [80]:
charlist=['a','b','c','d','e','f','g']

In [81]:
charlist

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [82]:
type(charlist)

list

In [87]:
stringlist=['navin','kumar','ram','pawan','singh']

In [88]:
stringlist

['navin', 'kumar', 'ram', 'pawan', 'singh']

In [97]:
mixlist=[10,15,12.6,18.21,'a','B','manikant','nagfani']

In [98]:
mixlist

[10, 15, 12.6, 18.21, 'a', 'B', 'manikant', 'nagfani']

In [104]:
list=['apple', 'banana', 'mango', ' grapes', 'guava']

In [105]:
list

['apple', 'banana', 'mango', ' grapes', 'guava']

In [102]:
list[0]

'apple'

In [106]:
list[-5]

'apple'

In [109]:
list[-3]

'mango'

SLICING

In [112]:
list=['apple', 'banana', 'mango', ' grapes', 'guava']

In [113]:
list

['apple', 'banana', 'mango', ' grapes', 'guava']

In [115]:
list[0:1]

['apple']

In [116]:
list[2:5]

['mango', ' grapes', 'guava']

In [117]:
list[3:5]

[' grapes', 'guava']

In [119]:
list[4:5]

['guava']

In [120]:
list[-5:-2]

['apple', 'banana', 'mango']

In [121]:
list=['apple', 'banana', 'mango', ' grapes', 'guava']

In [122]:
list[-2:-1]

[' grapes']

In [123]:
list[-4:-1]

['banana', 'mango', ' grapes']

In [124]:
list[0:]

['apple', 'banana', 'mango', ' grapes', 'guava']

In [138]:
list[0:4]

['apple', 'banana', 'mango', ' grapes']

In [131]:
list=['apple', 'banana', 'mango', ' grapes', 'guava']

In [132]:
list[0:3]

['apple', 'banana', 'mango']

In [137]:
list[0:4]

['apple', 'banana', 'mango', ' grapes']

In [140]:
list[ :2]

['apple', 'banana']

LIST OPERATION

In [160]:
list=['apple', 'banana', 'mango', 'grapes', 'guava','bery','strobery']

In [161]:
list

['apple', 'banana', 'mango', 'grapes', 'guava', 'bery', 'strobery']

TO ADD THE ITEMS IN THE LIST

In [162]:
list.append("litchi")

In [163]:
list

['apple', 'banana', 'mango', 'grapes', 'guava', 'bery', 'strobery', 'litchi']

In [164]:
list.append('angur')

In [165]:
list

['apple',
 'banana',
 'mango',
 'grapes',
 'guava',
 'bery',
 'strobery',
 'litchi',
 'angur']

In [172]:
list.sort()

In [173]:
list

['angur',
 'apple',
 'banana',
 'bery',
 'grapes',
 'guava',
 'litchi',
 'mango',
 'strobery']

In [176]:
list.reverse()

In [177]:
list

['angur',
 'apple',
 'banana',
 'bery',
 'grapes',
 'guava',
 'litchi',
 'mango',
 'strobery']

In [178]:
list.sort()

In [179]:
list

['angur',
 'apple',
 'banana',
 'bery',
 'grapes',
 'guava',
 'litchi',
 'mango',
 'strobery']

INSERT = to add the items on seferate position

In [3]:
list=['apple', 'banana', 'mango', 'grapes', 'guava']

In [ ]:
list.insert(2, 'strobery')

In [192]:
list

['apple',
 'strobery',
 'strobery',
 'kiwi',
 'strobery',
 'kiwi',
 'banana',
 'mango',
 'grapes',
 'guava']

In [193]:
list.insert(4,'kiwi')

In [194]:
list

['apple',
 'strobery',
 'strobery',
 'kiwi',
 'kiwi',
 'strobery',
 'kiwi',
 'banana',
 'mango',
 'grapes',
 'guava']

In [195]:
list.insert(5,'berhar')

In [4]:
list

['apple', 'banana', 'mango', 'grapes', 'guava']

In [199]:
list.index('guava')

11

In [200]:
list.index('kiwi')

3

In [201]:
list

['apple',
 'strobery',
 'strobery',
 'kiwi',
 'kiwi',
 'berhar',
 'strobery',
 'kiwi',
 'banana',
 'mango',
 'grapes',
 'guava']

POP --- to delete the data in thi list,,, 
if you apply this function the last data will be deleted

In [202]:
list.pop()

'guava'

In [204]:
list.pop()

'grapes'

In [205]:
list

['apple',
 'strobery',
 'strobery',
 'kiwi',
 'kiwi',
 'berhar',
 'strobery',
 'kiwi',
 'banana',
 'mango']

LEN FUNCTION

In [206]:
len("navin")

5

In [207]:
len("navin kumar singh")

17

In [208]:
len("8757569686")

10

In [210]:
len('4578')

4

In [211]:
len(list)

10

REMOVE OPERATION -- deleting data by name

In [218]:
list=['kiwi','berhar','strobery','kiwi','banana','mango']

In [219]:
list

['kiwi', 'berhar', 'strobery', 'kiwi', 'banana', 'mango']

In [220]:
list.remove('berhar')

In [221]:
list

['kiwi', 'strobery', 'kiwi', 'banana', 'mango']

In [222]:
list.pop(3)

'banana'

CLEAR --- to clear all the data in this list

In [223]:
list.clear()

In [224]:
list

[]

ADD THE DATA IN SAME LIST AFTER THE CLEAR LIST

In [225]:
list.append("mango")

In [226]:
list

['mango']

In [232]:
list.append("guava")

In [233]:
list

['mango', 'guava']

In [235]:
list.append("watermelon")

In [236]:
list

['mango', 'guava', 'watermelon']

DELETE THE LIST

In [59]:
name=['navin','kumar','singh']

In [68]:
name[0]='navin singh'

In [69]:
name

['navin singh', 'kumar', 'singh']

In [240]:
del name

In [241]:
name

NameError: name 'name' is not defined

TO CHANGE THE VALUE IN THE LIST

In [242]:
list

['mango', 'guava', 'watermelon']

In [58]:
list

list

In [243]:
list[2]='grapes'

In [244]:
list

['mango', 'guava', 'grapes']

In [245]:
list[1]='kiwi'

In [246]:
list

['mango', 'kiwi', 'grapes']

In [247]:
list[0]='strobery'

In [248]:
list

['strobery', 'kiwi', 'grapes']

In [249]:
marks=[98,85,78,95,79,89,45]

In [250]:
marks

[98, 85, 78, 95, 79, 89, 45]

In [251]:
marks[1]=95

In [252]:
marks

[98, 95, 78, 95, 79, 89, 45]

In [253]:
marks[5]=500

In [254]:
marks

[98, 95, 78, 95, 79, 500, 45]

In [258]:
marks.extend(['45','89','52'])

In [259]:
marks

[98, 95, 78, 95, 79, 500, 45, '45', '89', '52']

In [261]:
len (marks)

10

In [2]:
import math
math.sqrt(10)

3.1622776601683795

In [2]:
#AREA OF TRAPEZIUM
a=float(input('enter a '))
b=float(input('enter b '))
h=float(input('enter h '))
area=1/2*(a+b)*h
area

enter a 15.10
enter b 20.10
enter h 30.10

529.7600000000001

In [3]:
pi=3.14159265359
r=float(input('enter a number '))
c=2*pi*r
c

enter a number 51

320.44245066618

DATA STRUCTURE 

TUPLE

In [6]:
t=(15,20,30,15,5,7,9,15,21,90)

In [12]:
t

(15, 20, 30, 15, 5, 7, 9, 15, 21, 90)

In [13]:
t[0]

15

In [14]:
t[5]

7

In [15]:
t[0]=11

TypeError: 'tuple' object does not support item assignment

In [ ]:
#in tuple you can't change the value
#tuple are index base 
but 
in list you can change the value

In [17]:
li=[15,20,14,16,19,20,51,100]

In [53]:
li[0]='navin'

In [54]:
li

['navin', 20, 14, 16, 19, 100, 51, 100]

In [19]:
li[5]

20

In [20]:
li[5]=100

In [21]:
li

[15, 20, 14, 16, 19, 100, 51, 100]

DICTIONARY

dic={'key':value,'key':value, 'key':value}

In [22]:
dic={'id':101,'name':'navin','grade':'A'}

In [23]:
dic

{'id': 101, 'name': 'navin', 'grade': 'A'}

In [25]:
dic.keys()

dict_keys(['id', 'name', 'grade'])

In [26]:
dic.values()

dict_values([101, 'navin', 'A'])

In [27]:
dic['id']

101

In [28]:
dic["name"]

'navin'

In [29]:
dic

{'id': 101, 'name': 'navin', 'grade': 'A'}

In [31]:
dic.items()

dict_items([('id', 101), ('name', 'navin'), ('grade', 'A')])

In [33]:
dic.keys()

dict_keys(['id', 'name', 'grade'])

ADD THE COLUMN IN DICTIONARY

In [75]:
dic.update({'age':25})

In [37]:
dic.items()

dict_items([('id', 101), ('name', 'navin'), ('grade', 'A'), ('age', 25)])

In [38]:
dic

{'id': 101, 'name': 'navin', 'grade': 'A', 'age': 25}

In [39]:
dic['age']

25

In [44]:
dic['age']=26

In [45]:
dic

{'id': 101, 'name': 'navin', 'grade': 'A', 'age': 26}

In [47]:
#Dictionary is mutable
you can change the value

In [49]:
dic['name']='navin singh'

In [50]:
dic

{'id': 101, 'name': 'navin singh', 'grade': 'A', 'age': 26}

In [76]:
#delete the value
dic.pop('age')

25

In [72]:
#delete the value
dic

{'id': 101, 'name': 'navin singh', 'grade': 'A'}

In [77]:
dic.update({'email':'ksingh9398@gmail.com'})

In [78]:
dic

{'id': 101,
 'name': 'navin singh',
 'grade': 'A',
 'email': 'ksingh9398@gmail.com'}

In [79]:
dic.update({'dummy':154248})

In [80]:
dic

{'id': 101,
 'name': 'navin singh',
 'grade': 'A',
 'email': 'ksingh9398@gmail.com',
 'dummy': 154248}

In [82]:
dic.pop('dummy')

154248

In [83]:
dic

{'id': 101,
 'name': 'navin singh',
 'grade': 'A',
 'email': 'ksingh9398@gmail.com'}

ENTER MULTIPLE VALUE IN DICTIIONARY

table={'key':value,'key':value,'key':value,'key':value}

In [95]:
table={'id':[1,2,3],'name':['navin','pawan','nitish'],'age':[25,27,26]}

In [86]:
table

{'id': [1, 2, 3], 'name': ['navin', 'pawan', 'nitish'], 'age': [25, 27, 26]}

In [87]:
table.keys()

dict_keys(['id', 'name', 'age'])

In [88]:
table.values()

dict_values([[1, 2, 3], ['navin', 'pawan', 'nitish'], [25, 27, 26]])

In [89]:
table.items()

dict_items([('id', [1, 2, 3]), ('name', ['navin', 'pawan', 'nitish']), ('age', [25, 27, 26])])

In [90]:
table.update({'id':4, 'name':'kunti','age':28})

In [91]:
table

{'id': 4, 'name': 'kunti', 'age': 28}

In [93]:
table.keys()

dict_keys(['id', 'name', 'age'])

In [94]:
table.items()

dict_items([('id', 4), ('name', 'kunti'), ('age', 28)])

In [96]:
table

{'id': [1, 2, 3], 'name': ['navin', 'pawan', 'nitish'], 'age': [25, 27, 26]}

In [97]:
table['id']

[1, 2, 3]

In [98]:
table['name']

['navin', 'pawan', 'nitish']

In [99]:
table['age']

[25, 27, 26]

In [100]:
table['id'][0]

1

In [101]:
table['name'][2]

'nitish'

In [103]:
table['name'][0]='navin singh'

In [153]:
table

{'id': [1, 2, 3],
 'name': ['navin singh', 'pawan', 'nitish'],
 'age': [25, 27, 26],
 'marks': 25}

In [154]:
type(table)

dict

In [107]:
table.update({'marks':25})

In [108]:
table

{'id': [1, 2, 3],
 'name': ['navin singh', 'pawan', 'nitish'],
 'age': [25, 27, 26],
 'marks': 25}

In [109]:
#if you want to clear items 
#if you want to delete the ddictionary

SETS

In [118]:
# set does not allow duplicate value 
# set does not suport index value 
a={10,12,13,14,78,12,68,12}

In [115]:
a

{10, 12, 13, 14, 68, 78}

In [117]:
a[0]

TypeError: 'set' object is not subscriptable

In [126]:
# 2nd option to write the set

b=set([15,18,21,10,100,25,27])

In [127]:
b

{10, 15, 18, 21, 25, 27, 100}

ADD THE VALUE IN SETS

the value will add in anywhere between in set

In [128]:
set={'sunday','monday','tuesday','wednesday','thuresday','friday','saturday'}

In [129]:
set

{'friday', 'monday', 'saturday', 'sunday', 'thuresday', 'tuesday', 'wednesday'}

In [137]:
set.add('kundri')

In [138]:
set

{'friday',
 'kundri',
 'monday',
 'monkey',
 'saturday',
 'sunday',
 'thuresday',
 'tuesday',
 'wednesday'}

In [140]:
set.pop()

'thuresday'

In [132]:
m={15,17,19,20,17,97,58,78,63,}

In [133]:
m

{15, 17, 19, 20, 58, 63, 78, 97}

In [152]:
m.add(45)
type(m)

set

In [151]:
m

{15, 17, 19, 20, 45, 58, 63, 78}

In [139]:
m.pop()

97

In [141]:
m

{15, 17, 19, 20, 45, 58, 63, 78}

In [143]:
t=(1,2,3)
t

(1, 2, 3)

In [144]:
type(t)

tuple

In [146]:
mylist=list(t)
mylist

[1, 2, 3]

In [147]:
type(mylist)

list

LOOP

WHILE LOOP

In [162]:
i=0
while(i<3):
    print(i)
    i=i+2

0
2

In [167]:
k=1
while(k<50):
    print("k=",k)
    k=k+2
print('end of loop')

k= 1
k= 3
k= 5
k= 7
k= 9
k= 11
k= 13
k= 15
k= 17
k= 19
k= 21
k= 23
k= 25
k= 27
k= 29
k= 31
k= 33
k= 35
k= 37
k= 39
k= 41
k= 43
k= 45
k= 47
k= 49
end of loop

In [179]:
m=2
while(m<30):
    print("value of M = ", m)
    m=m+1
    
print("end of loop")

value of M =  2
value of M =  3
value of M =  4
value of M =  5
value of M =  6
value of M =  7
value of M =  8
value of M =  9
value of M =  10
value of M =  11
value of M =  12
value of M =  13
value of M =  14
value of M =  15
value of M =  16
value of M =  17
value of M =  18
value of M =  19
value of M =  20
value of M =  21
value of M =  22
value of M =  23
value of M =  24
value of M =  25
value of M =  26
value of M =  27
value of M =  28
value of M =  29
end of loop

In [180]:
b=0
while(b<5):
    print('we have')
    print(b)
    print('we are in while loop')
    b=b+1

we have
0
we are in while loop
we have
1
we are in while loop
we have
2
we are in while loop
we have
3
we are in while loop
we have
4
we are in while loop

In [184]:
# end= " "  this command is for result are Horizontal
i=1
while(i<5):
    print("i = ", i,end=" ")
    print("inside while loop")
    i=i+2
    
print('end loop')

i =  1 inside while loop
i =  3 inside while loop
end loop

In [182]:
n=1
while(n<10):
    print(n,end=' ')
    n=n+1

1 2 3 4 5 6 7 8 9

In [189]:
k=1
while(k<=100):
    print(k,end=" ")
    k=k+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [195]:
o=10
while(o<450):
    print(o,end=" ,  ")
    o=o+10

10 ,  20 ,  30 ,  40 ,  50 ,  60 ,  70 ,  80 ,  90 ,  100 ,  110 ,  120 ,  130 ,  140 ,  150 ,  160 ,  170 ,  180 ,  190 ,  200 ,  210 ,  220 ,  230 ,  240 ,  250 ,  260 ,  270 ,  280 ,  290 ,  300 ,  310 ,  320 ,  330 ,  340 ,  350 ,  360 ,  370 ,  380 ,  390 ,  400 ,  410 ,  420 ,  430 ,  440 ,

WRITE THE TABLE OF 2

In [196]:
i=1
j=2
while(i<10):
    print(j,'*', i, '=',j*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

INPUT A NUMBER

In [208]:
k=int(input('enter a number of k '))
p=int(input('enter a number p '))
while(k<=10):
    print(p, '*', k, '=', p*k)
    k=k+1

enter a number of k 1
enter a number p 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [213]:
k=int(input('enter a number of k= '))
p=float(input('enter a number p= '))
while(k<=10):
    print(p, '*', k, '=', p*k)
    k=k+1
print('end')

enter a number of k= 1
enter a number p= 5
5.0 * 1 = 5.0
5.0 * 2 = 10.0
5.0 * 3 = 15.0
5.0 * 4 = 20.0
5.0 * 5 = 25.0
5.0 * 6 = 30.0
5.0 * 7 = 35.0
5.0 * 8 = 40.0
5.0 * 9 = 45.0
5.0 * 10 = 50.0
end

FOR LOOP

In [215]:
for n in [12,48,1,78,25,94,35,51]:
    print(n,end=" ")

12 48 1 78 25 94 35 51

In [219]:
#its work on index value also

for p in ['mango','banana','apple','grapes','kiwi']:
    print(p,end=' , ')

mango , banana , apple , grapes , kiwi ,

In [224]:
for m in [15.4,14,78,15.29,'navin','mango','false', 'ture', 'kundri']:
    print(m)
    
print('end the value')

15.4
14
78
15.29
navin
mango
false
ture
kundri
end the value

RANAGE

In [226]:
range(5)

range(0, 5)

In [227]:
list(range(5))

[0, 1, 2, 3, 4]

In [235]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [236]:
#THE LAST VALUE IS EXCULISIVE (NOT COUNT)

In [237]:
range(10)

range(0, 10)

In [242]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

USE THE RANGE COMMAND IN FOR LOOD

In [248]:
for i in range(5):
    print(i)

print('end the loop')

0
1
2
3
4
end the loop

RANGE BY THE INDEX

In [250]:
# start index , end index
range(1,7)

range(1, 7)

In [251]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [253]:
list(range(0,int(input('number'))))

number10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

JUMP -----
range(start index, end index, skip (jump))

In [257]:
list(range(1,15,2))

[1, 3, 5, 7, 9, 11, 13]

In [260]:
list(range(1,10,3))

[1, 4, 7]

In [1]:
list(range(5,25,2))

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [2]:
list(range(2,25,3))

[2, 5, 8, 11, 14, 17, 20, 23]

In [263]:
for k in range(1,11):
    print(k)

1
2
3
4
5
6
7
8
9
10

In [274]:
for m in range(1,int(input('maximum number = ')),5):
    print(m,end= " , ")

maximum number = 78
1 , 6 , 11 , 16 , 21 , 26 , 31 , 36 , 41 , 46 , 51 , 56 , 61 , 66 , 71 , 76 ,

In [283]:
#WRITE THE TABLE OF 
k=int(input('enter a number = '))
for m in range(1,11):
    print(k,"*",m,"=", k*m)
    
print('end the loop')

enter a number = 15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150
end the loop

In [286]:
marks=23
if (marks > 50):
    print("very good")
else:
    print('average')

average

In [290]:
marks=int(input('enter a number'))
if (marks > 50):
    print("very good")
else:
    print('average')

enter a number51
very good

In [295]:
num=int(input('input any number'))
if (num%2==0):
    print("number is EVEN")
    
else:
    print('number is odd')

input any number51
number is odd

BREAK CONDITION

In [301]:
for i in [10,20,30,40,50]:
    if(i==30):
        break
    print(i)
    
# if the condition will true then the break will work otherwise break will not gone work

10
20

CONTINUE LOOP

In [303]:
for k in [10,20,30,40,50]:
    if (k==30):
        continue
        
    print(k)
# 30 is missing in result because in 30 condition is true, the 30 is missing and loop will continue.

10
20
40
50

In [310]:
for d in ['a','b','c','d','e']:
    if(d=='c'):
        continue
    print(d)
    print("inside")
print('end the loop')

a
inside
b
inside
d
inside
e
inside
end the loop

# PROVE THE MATHMATICS FORMULA

In [7]:
for d in ['a','b','c','d','e']:
    if(d=='c'):
        break
    print(d)

a
b

In [8]:
#area of circle
pi=3.14
r=float(input('enter r = '))
area= pi* r**2
print('area of circle =',area)

enter r = 15
area of circle = 706.5

In [9]:
#area of cube

a=float(input('enter r ='))
area=6*(a**2)
area

enter r =20

2400.0

In [10]:
#VOLUME OF CYLINDER

pi=3.14
r=float(input('r=  '))
h=float(input('h= '))
volume=pi*r**2*h

print('volume = ', volume)

r=  21
h= 20
volume =  27694.8

In [13]:
#VOLUME OF CONE

pi=3.14159265359
r=float(input('r= '))
h=float(input('h= '))

volume=pi*r**2*h/3
print('volume of cone= ',volume)

r= 14
h= 12
volume of cone=  2463.00864041456

In [14]:
#VOLUME OF SPHERE
pi=3.14159265359
r=float(input('r = '))
volume=4/3*pi*r**3
print('volume of sphere = ',volume)

r = 12.6
volume of sphere =  8379.155394690331

In [17]:
#Sinmple intrest
p=float(input('p= '))
r=float(input('r= '))
t=float(input('t= '))
si=p*r*t/100
print('si = ',si)

p= 15.8
r= 16.
t= 85.67
si =  216.57376

In [28]:
#AREA OF CIRCLE
pi=3.14159265359
r=float(input('r = '))
area=pi*r**2
print('area of circle', area)

r = 14
area of circle 615.75216010364

# IF & ELSE & ELIF

In [12]:
marks= int(input('enter marks = '))
if (marks >90):
    print('excellent')
elif (marks >= 80 and marks < 90):
    print('very good')
elif (marks >= 70 and marks < 80):
    print('good')
elif (marks >= 60 and marks < 70):
    print('average')
else:
    print('not a good marks')

enter marks = 120
excellent

USE FOR RANGE IN IF CONDINTON

In [20]:
for i in range (3):
    marks=int(input('enter any number'))

enter any number10
enter any number20
enter any number30

In [17]:
for i in range(3):
    marks= int(input('enter marks = '))
    if (marks >90):
        print('excellent')
    elif (marks >= 80 and marks < 90):
        print('very good')
    elif (marks >= 70 and marks < 80):
        print('good')
    elif (marks >= 60 and marks < 70):
        print('average')
    else:
        print('not a good marks')

enter marks = 10
not a good marks
enter marks = 102
excellent
enter marks = 71
good

In [16]:
for i in range(5):
    marks= int(input('enter marks = '))
    if (marks >90):
        print('excellent')
    elif (marks >= 80 and marks < 90):
        print('very good')
    elif (marks >= 70 and marks < 80):
        print('good')
    elif (marks >= 60 and marks < 70):
        print('average')
    else:
        print('not a good marks')

enter marks = 99
excellent
enter marks = 45
not a good marks
enter marks = 10
not a good marks
enter marks = 70
good
enter marks = 81
very good

In [21]:
print("jay mata di ")

jay mata di

LIST COMPREHSION

In [23]:
pvar=[i for i in [ 10,20,30]]
pvar

[10, 20, 30]

 Q- print all the even number in the range of 2 to 11 ?

In [25]:
k=[i for i in range(2,11) if (i%2==0)]
print(k)

[2, 4, 6, 8, 10]

In [28]:
k=[i for i in range(2,12) if (i%2==0)]
print(k)

[2, 4, 6, 8, 10]

In [29]:
k=[i for i in range(2,13) if (i%2==0)]
print(k)

[2, 4, 6, 8, 10, 12]

Q- print all the odd number in the range of 2 to 11 ?

In [30]:
k=[i for i in range(2,13) if (i%2==1)]
print(k)

[3, 5, 7, 9, 11]

In [47]:
p=[i for i in range(2,25) if (i%2!=0)]
p

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [34]:
k=[i for i in range(2,50) if (i%2==0)]
print(k)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [44]:
for i in range(3):
    k=[i for i in range(2,int(input('max = '))) if (i%2==0)]
    print(k)

max = 10
[2, 4, 6, 8]
max = 20
[2, 4, 6, 8, 10, 12, 14, 16, 18]
max = 30
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [41]:
for i in range(3):
    k=[i for i in range(2,11) if (i%2==0)]
    print(k)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [45]:
# IF YOUR USE : (CLONE) THEN YOU HAVE TO MANNAGE THE SPACE
# IF YOUR MAKE ANY MISTAKE DURING USE SPACE THEN YOUR ANSWER ERROR

# STRINGS FUNCTION

LOWER FUNCTION &
UPPER FUNCTION &
SWAPCASE FUNCTION

In [48]:
a='navin'
a

'navin'

In [49]:
a.upper()

'NAVIN'

In [67]:
b='NAVIN'
b

'NAVIN'

In [51]:
b.lower()

'navin'

In [53]:
k='NavinSInGh'
k

'NavinSInGh'

In [66]:
k.swapcase()
# this function are making a=A, B=b (lower=upper & upper = lower)

'FaceBooK'

In [58]:
n='FaceBooK'
n

'FaceBooK'

In [59]:
n.swapcase()

'fACEbOOk'

IF YOU WANT TO PERMAMENT CHANGE THEN

In [64]:
k=n.swapcase()
k

'fACEbOOk'

In [65]:
k

'fACEbOOk'

In [69]:
p=b.lower()
p

'navin'

SPLIT--- 
change the full sentance in list

In [75]:
a='navin is a good boy'
a

'navin is a good boy'

In [74]:
a.split()

['navin', 'is', 'a', 'good', 'boy']

WORD CHECK TRUE OR FALSE

In [76]:
a='navin'
a

'navin'

In [77]:
a.islower()

True

In [78]:
a.isupper()

False

In [79]:
b='NAVIN'
b

'NAVIN'

In [80]:
b.isupper()

True

In [81]:
b.isupper()

True

CAPITALIZE FUNCTION -- only first letter are capital

In [82]:
a='earth is revolvint the sun'
a

'earth is revolvint the sun'

In [84]:
a.capitalize()

'Earth is revolvint the sun'

In [85]:
b='i wont to be a data scientist'
b

'i wont to be a data scientist'

In [86]:
b.capitalize()

'I wont to be a data scientist'

TITLE FUNCTION = all the first letter will make a capital  in full sentance

In [88]:
n='navin singh is a smart boy'
n

'navin singh is a smart boy'

In [89]:
n.title()

'Navin Singh Is A Smart Boy'

In [90]:
k='my co-name is kundri'
k

'my co-name is kundri'

In [92]:
k.title()

'My Co-Name Is Kundri'

CHECK THE SENTANSE TRUE OR FALSE

In [93]:
a= 'navin singh is a good boy'
a

'navin singh is a good boy'

In [94]:
a.startswith('navin')

True

In [95]:
a.startswith("Navin")

False

In [96]:
a.startswith("kumar")

False

In [97]:
a.endswith("boy")

True

In [98]:
a.endswith("Boy")

False

In [99]:
a.endswith("navin")

False

FIND THE WORDS IN SENTANSE

In [101]:
a='navin is a good boy'
a

'navin is a good boy'

In [102]:
len(a)

19

In [105]:
a.find('good')

11

In [107]:
a.find('boy')

16

In [112]:
a.find('o',17,20)

17

In [114]:
a.find('is')

6

In [115]:
a.find("n")

0

In [116]:
a='navin is a good boy'
a

'navin is a good boy'

In [117]:
len(a)

19

In [118]:
a.find("y")

18

In [119]:
a.find('i')

3

In [121]:
#  Range 
a.find('o',14,18)

17

In [122]:
a.find('a',7,11)

9

In [123]:
a.find("boy")

16

COUNT THE REPETATION THE WORDS IN THE SENTANSE

In [132]:
b='my name is navin kumar singh and i am a good boy 15'
b

'my name is navin kumar singh and i am a good boy 15'

In [126]:
len(b)

48

In [129]:
b.count('a')

6

In [135]:
b.count('k')

1

In [136]:
b.count('good')

1

REPLACE FUNCTION

In [137]:
k='navin is a good boy'
k

'navin is a good boy'

In [138]:
k.replace('good','smart')

'navin is a smart boy'

In [139]:
k

'navin is a good boy'

In [141]:
p=k.replace('good','smart')
p

'navin is a smart boy'

In [142]:
p

'navin is a smart boy'

In [143]:
k.replace('good','BAD')

'navin is a BAD boy'

In [144]:
b='navin singh is a good boy and navin is a smart boy'
b

'navin singh is a good boy and navin is a smart boy'

In [146]:
b.replace('navin','kundri')

'kundri singh is a good boy and kundri is a smart boy'

JOIN FUNCTION - its join the sentanse in single line

In [147]:
a='navin singh is a good boy'

In [148]:
a.split()

['navin', 'singh', 'is', 'a', 'good', 'boy']

In [153]:
c=['navin', 'singh', 'is', 'a', 'good', 'boy']
c

['navin', 'singh', 'is', 'a', 'good', 'boy']

In [160]:
''.join(c)

'navinsinghisagoodboy'

In [164]:
','.join(c)

'navin,singh,is,a,good,boy'

In [166]:
' = '.join(c)

'navin = singh = is = a = good = boy'

CASEFOLD--- it's for chack condition for matching words of not

In [168]:
a='Tesla'
b='tesla'
if a.casefold()==b.casefold():
    print("both are matching words")
else:
    print('both are diffrent words')
#in this condition words are not casesensative

both are matching words

In [169]:
a='navin'
b='singh'
if a.casefold()==b.casefold():
    print("both are matching words")
else:
    print('both are diffrent words')

both are diffrent words

In [170]:
a='NAVIN'
b='singh'
if a.casefold()==b.casefold():
    print("both are matching words")
else:
    print('both are diffrent words')

both are diffrent words

In [171]:
a='NAVIN'
b='navin'
if a.casefold()==b.casefold():
    print("both are matching words")
else:
    print('both are diffrent words')

both are matching words

CHECK WORDS TRUE OR FALSE

In [172]:
a='pen'
b='123'
c='nav123'

In [173]:
a.isalpha()

True

In [174]:
b.isalpha()

False

In [175]:
c.isalpha()

False

In [177]:
# ALNUM -- this is the combination of digit or alphabet
c.isalnum()

True

In [179]:
b.isdigit()

True

In [180]:
b.isnumeric()

True

In [185]:
f=44

In [186]:
f.isdigit()

AttributeError: 'int' object has no attribute 'isdigit'

In [187]:
b='nav in'
b

'nav in'

In [189]:
b.isalpha()
# because space is != alphabate

False

STRING PRINT FORMAT-------

C-style format string format

python use C-style string formatting to create new, formatted strings. 
The "%" operator is used to format a set of variables enclosed is a "tuple" 
(a fixed size list). together with a format string, which contains normal taxt 
with "argument specifiers", special symbols like "%s" and "%d"

In [1]:
#this prints out"hello, john!"
name="john"
print("hello, %s" %name)

hello, john

In [3]:
print("hello", name)

hello john

In [6]:
# this prints  out "john is 23 years old"

name= 'john'
age = 23
salary = 6889.564
print("%s is %d years old taking salary %f " % (name, age, salary))
print("salary = %0.2f" %(salary))

john is 23 years old taking salary 6889.564000
salary = 6889.56

In [12]:
country= "india"
city= "delhi"
population = 500004
salary = 35455.4567
print("%s is the capital of %s has %d population having average salary of %0.2f" % (city, country, population, salary))

delhi is the capital of india has 500004 population having average salary of 35455.46

In [13]:
furit1= 'apple'
furit2= 'mango'
furit3= 'grapes'
print('i like to eat %s, %s and %s' % (furit1,furit2,furit3))

i like to eat apple, mango and grapes

In [16]:
n='navin'
k='are love'
s='our country'
print('i and %s %s %s' %(n,k,s))

i and navin are love our country

STRING.FORMAT FUNCTION

In [18]:
print("people generally take {} with {}".format('coke', 'pizza'))

people generally take coke with pizza

In [20]:
print("people generally take {0} with {1}".format('coke', 'pizza'))

people generally take coke with pizza

In [21]:
print("people generally take {1} with {0}".format('coke', 'pizza'))

people generally take pizza with coke

In [22]:
print("people generally take {} with {} and {}".format('coke', 'pizza', 51.22))

people generally take coke with pizza and 51.22

In [23]:
name= 'john'
age = 23
print('his name is {} he is {} years old' .format(name,age))

his name is john he is 23 years old

In [24]:
print("{0} and {1}" .format('spam','eggs'))

spam and eggs

In [25]:
print("{1} and {1}" .format('spam','eggs'))

eggs and eggs

In [26]:
print("{1} and {0}" .format('spam','eggs'))

eggs and spam

FUNCTION

FUNCTION = function is a group of related statements that performs a specify task.
Function help break our program into smaller and modular chunks. as our programe groups 
larger and larger, function make it more organized and manageble

Help= help is the utilty function, it will assist you to find any type of function in python.

In [8]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> symbols

Here is a list of the punctuation symbols which Python assigns special meaning
to. Enter any symbol to get more help.

!=                  +                   <=                  __
"                   +=                  <>                  `
"""                 ,                   ==                  b"
%                   -                   >                   b'
%=                  -=                  >=                  f"
&                   .                   >>                  f'
&=                  ...                 >>=                 j
'                   /                   @                   r"
'''                 //                  J                   r'
(                   //=                 [                   u"
)                   /=                  \                   u'
*                   :                   ]                   |
**                  <                   ^                   |=
**=                 <<                  ^=                  ~
*=                  <<=                 _


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.
help> average

In [9]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [10]:
k=[12,58,49,78,25,67,97,58,47,64,15,78,69,45,78,46]
min(k)

12

In [12]:
max(k)

97

FUNCTION ======  USER DEFINE FUNCTION (def)

In [19]:
#step 1 --------- function defination 
def function():
    print('navin singh is a good boy')

In [20]:
#step 2  (calling the function)
function()

navin singh is a good boy

In [21]:
#step 1
def mani():
    print("manikant is bad boy")
#step 2 (calling the function)
mani()

manikant is bad boy

In [22]:
def navin():
    print("hello everyone i am navin singh")
navin()

hello everyone i am navin singh

In [25]:
def add():
    a=15
    b=78
    c=a+b
    print("addition = ",c)
    
add()

addition =  93

In [24]:
add()

addition =  93

In [26]:
def sub():
    a=15
    b=78
    c=b-a
    print("addition = ",c)
    
sub()

addition =  63

In [36]:
def add():
    a=int(input('a = '))
    b=float(input('b = '))
    c=a+b
    print('the addition of c = ',c)
add()

a = 4579
b = 5465
the addition of c =  10044.0

In [30]:
add()

a = 646
b = 545
the addition of c =  1191

In [35]:
add()

a = 78978
b = 7897.4564
the addition of c =  86875.4564

AREA OF RECTANGLE

In [45]:
# function defination 
def area():
    l=15
    b=20
    area=l*b
    print(area)
    
#calling function     
area()

300

In [44]:
#AREA OF CIRCLE
def area():
    pi=3.14
    r=int(input('r = '))
    area=pi*r**2
    print("area = ", area)
    
area()

r = 45
area =  6358.5

In [56]:
def  marks():
    marks=int(input('marks = '))
    if marks > 80 :
        print(" good marks ")
    else:
        print(" not good marks")
        
marks()

marks = 646
 good marks

In [69]:
def nav():
    for marks in range(3):
        marks=int(input('enter marks = '))
        if marks > 80 :
            print('good marks')
        else:
            print('bad marks')

nav()

enter marks = 45
bad marks
enter marks = 98
good marks
enter marks = 80
bad marks

In [73]:
def avg():
    k=0
    for m in range(3):
        m=int(input('m = '))
        k=k+m
        print('total marks = ', k)
    print('average = ', k/3)

        
avg()

m = 20
total marks =  20
m = 35
total marks =  55
m = 98
total marks =  153
average =  51.0

-------------- PARAMETIC FUNCTION--------------

In [125]:
def add(a,b):
    c=a+b
    print("c = ", c)
    
add(a,b)

c =  97

In [133]:
def add(a,b,d):
    c=a+b+d
    print("c = ", c)
    
add(145,45,78)

c =  268

In [135]:
def add(a,b,c,d):
    k=a+b+c+d
    print(k)
    
add(45,78,58,48)

229

In [76]:
add(10,5)

c =  15

In [78]:
def add(a,b):
    c=a*b
    print("c = ", c)
    
add(15,20)

c =  300

In [82]:
def moudlo(a,b):
    c=a%b  # here you can do any think like --- +,*,-,//,% 
    print("moudlo c = ", c)

moudlo(78,5)

moudlo c =  3

In [83]:
def add(a,b):
    c=a/b
    print("c = ", c)

In [84]:
a=80
b=7
add(a,b)

c =  11.428571428571429

-=----ROUND FUNCTION -------

In [86]:
#ROUND FUNCTION - it's for cantrol the number of decimal after the decimal values like 
a=80
b=7
k=a/b

In [87]:
k

11.428571428571429

In [88]:
print('division of k = ', round(k,2))

division of k =  11.43

In [93]:
def add(a,b):
    c=a/b
    print("c = ", c)
    
add(40,3)

c =  13.333333333333334

In [96]:
def add(a,b):
    c=a/b
    print("c = ", round(c,2))
    
add(40,3)

c =  13.33

In [97]:
a=80
b=7
k=a/b

In [98]:
print(round(k,2))

11.43

In [104]:
def add(a,b):
    c=a/b
    print("c = ", round(c,3))

In [105]:
a=int(input('a = '))
b=int(input('b = '))
add(a,b)

a = 90
b = 7
c =  12.857

In [121]:
#SQUARES
def sq(s):
    for s in range(2
                  ):
        s=int(input('s = '))
        print('square = ',s**2)
        


sq(s)

s = 5
square =  25
s = 8
square =  64

In [132]:
def add(a,b,d):
    c=a+b+d
    print("c = ", c)
    
add(145,45,78)

c =  268

MULTIPAL ARGUMENT FUNCTION 

* STAR AGRUMENT FUNCTION,

WILD CARD CHARECTER

In [141]:
def add(*m):
    print(sum(m))

# here you can find SUM , MAX, MIN function also

In [140]:
#  iske pehle def ko baar baar define kerna perta tha like-- def add(a,b),, def(a,b,c),, def(a,b,c,d)

In [137]:
add(10,15)

25

In [138]:
add(58,787)

845

In [139]:
add(6797,987423)

994220

In [142]:
add(87,98,785,12,456)

1438

In [3]:
def m(*k):
    print(min(k))

In [4]:
m(45,45,78,96,58,96,96)

45

In [5]:
m(12,45,7,26,7,456,988,)

7

In [6]:
def m(*k):
    print(max(k))

In [7]:
m(78,69,36,45,12,78,96,54,36,)

96

In [8]:
m(45,45,69,68,62,36,5,98,65,879,456,8796,54,6945,6,45,)

8796

-----------RETURN KEYWORD--------------

the RETURN KEYWORD is work like print but somthing are diffrent

In [9]:
def add():
    a=10
    b=15
    c=a+b
    print('c = ',c)

In [10]:
add()

c =  25

In [29]:
def add():
    a=10
    b=15
    c=a+b
    return c

In [30]:
name=add()

In [31]:
name

25

In [32]:
def kum(name):
    print(name**2)

In [33]:
kum(name)

625

In [46]:
def m():
    a=14
    b=16
    c=a+b
    return c

In [47]:
m()

30

In [48]:
kum=m()

In [49]:
kum

30

In [50]:
def na(kum):
    print(kum**3)

In [51]:
na(kum)

27000

In [62]:
def sa(m):
    n=m**2
    print('n = ',n)
    return n

In [63]:
sa(8)

n =  64

64

In [64]:
va=sa(15)

n =  225

In [65]:
va

225

In [66]:
def m(*p):
    print(sum(p))

In [67]:
m(15,78)

93

In [70]:
def n(*k):
    return (sum(k))

In [71]:
n(15,20,30)

65

In [1]:
list(range(2,50,3))

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47]

In [3]:
list(range(2,100,10))

[2, 12, 22, 32, 42, 52, 62, 72, 82, 92]

In [4]:
p=list(range(2,50,5))

In [5]:
p

[2, 7, 12, 17, 22, 27, 32, 37, 42, 47]